{% extends 'admin/layout.html' %} {% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Create New Post</h1>
  <p class="mb-4"></p>

  <div class="container-fluid">
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.title.label }}

        {% if form.title.errors %}
        {{ form.title(class="form-control form-control-lg") }}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.title(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.category.label }}

        {% if form.category.errors %}
        {{ form.category(class="form-control") }}
        <div class="invalid-feedback">
          {% for error in form.category.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.category(class="form-control") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.short_description.label }}

        {% if form.short_description.errors %}
        {{ form.short_description(class="form-control", row="3") }}
        <div class="invalid-feedback">
          {% for error in form.short_description.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.short_description(class="form-control", row="3") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.thumbnail.label }}

        {% if form.thumbnail.errors %}
        {{ form.thumbnail(type="file", class="form-control-file" ,  accept="image/*") }}
        <div class="invalid-feedback">
          {% for error in form.thumbnail.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.thumbnail(type="file", class="form-control-file", accept="image/*" ) }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.video.label }}

        {% if form.video.errors %}
        {{ form.video(type="file", class="form-control-file" ,  accept="video/*") }}
        <div class="invalid-feedback">
          {% for error in form.video.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.video( type="file", class="form-control-file", accept="video/*" ) }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary mb-auto")}}
      </div>
    </form>
  </div>
</div>

{% endblock %}
